body {
    padding-top: 800px;
}
.menu {
    list-style: none;
    font-family: cursive;
    position: absolute;
    top: 10px;
    right: 30px;
    cursor: pointer;
    z-index: 10;
}
.links {
    float: left;
    color: blue;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    font-family: fantasy;
}
.links:hover {
    background-color: darkorange;
}
#welcome {
    position: absolute;
    height: 800px;
    background: linear-gradient(#ff0000 0%,#f2ff00 50%,#0040ff 100%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.83;
    display: table;
    height: 100%;
    width: 100%;
    z-index: 9;
}
.innersection {
    margin-top: 50px; 
}
.profile {
  width: 175px;
    margin-bottom: 50px;
    border-radius: 50%;
}
#name {
    font-size: 35px;
    line-height: 1.2;
}
#bio {
    padding: 50px;
    text-align: center;
}
#line {
    height: 5px;
    background-color: lime;
    width: 75px;
    margin: 8px auto;
}